@import "./base.css";

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0rem;
  min-height: 100vh;

  font-weight: normal;
  background: #5256ad;
  display: flex;
  align-items: center;
  justify-content: center;
}

a,
.green {
  text-decoration: none;
  color: var(--main);
  transition: 0.2s ease-in-out;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(177, 100%, 37%, 0.335);
    transform: scale(1.01);
    padding: 3px;
    border-radius: 5px;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
